<footer>
    <div class="footer-container">
        <div class="footer-left">
            <div class="footer-logo-section">
                <img class="logo" src="./logo.png"/>
                <h1 class="brand-name">Bistro Bliss</h1>
            </div>            
            <p>In the new era of technology we look in the future with certainty and pride for our company and.</p>
            <div class="nav-social">
                <div class="social-icons" dir="rtl">
                    <img src="./github1.png"/>
                    <img src="./insta1.png"/>
                    <img src="./facebook1.png"/>
                    <img src="./twitter1.png"/>
                </div>
            </div>
        </div>

        <div class="footer-middle">
            <div class="footer-column">
                <h3>Pages</h3>
                <ul>
                    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li><a href="#"routerLink="/about" routerLinkActive="active">About</a></li>
                    <li><a routerLink="/menu" routerLinkActive="active">Menu</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a routerLink="/articles" routerLinkActive="active">Blog</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                    <li><a routerLink="/book" routerLinkActive="active">Delivery</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Utility Pages</h3>
                <ul>
                    <li><a href="#">Start Here</a></li>
                    <li><a href="#">Styleguide</a></li>
                    <li><a href="#">Password Protected</a></li>
                    <li><a href="#">404 Not Found</a></li>
                    <li><a href="#">Licenses</a></li>
                    <li><a href="#">Changelog</a></li>
                    <li><a href="#">View More</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-right">
            <h3>Follow Us On Instagram</h3>
            <div class="instagram-grid">
                <img src="img1.png" alt="Instagram Image 1">
                <img src="img2.png" alt="Instagram Image 2">
                <img src="img3.png" alt="Instagram Image 3">
                <img src="img4.png" alt="Instagram Image 4">
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>Copyright &copy; 2024 Hashtag Developer. All Rights Reserved</p>
    </div>
</footer>
