.article-section {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.article-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;

}

.article-section img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.article-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.article-content p {
    color: #555;
    margin-bottom: 20px;
}

.related-articles {
    text-align: center;
    padding: 40px;
}

.related-articles h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.related-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.related-grid p {
    font-size: 0.9rem;
    color: #555;
    text-align: left;
}

.related-item {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
    transition: 0.3s ease;
    width: 320px;
}

.related-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.related-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.related-item h2 {
    font-size: 1rem;
    margin-bottom: 10px;

}
