<section *ngIf="Article; else notFound" class="article-section">
    <h1>{{ Article?.title }}</h1>
    <img [src]="'http://localhost:5000/uploads/' + Article.imgSrc" [alt]="Article.altText" />
    <div class="article-content">
        <h2>What do you need to prepare?</h2>
        <p>{{ Article?.content }}</p>
    </div>
</section>

<ng-template #notFound>
    <p>Article not found. Please check the URL or return to the main page.</p>
</ng-template>

<section class="related-articles" *ngIf="Article">
    <h3>Read More Articles</h3>
    <div class="related-grid">
        <ng-container *ngFor="let article of articles">
            <div *ngIf="article._id !== Article?._id" class="related-item" (click)="goToArticle(article._id)">
                <img [src]="'http://localhost:5000/uploads/' + article.imgSrc" [alt]="article.altText" />
                <p>{{ article.title }}</p>
            </div>
        </ng-container>
    </div>
</section>
