<div class="admin-menu-items-container">
  <h1>Manage Menu Items</h1>

  <button (click)="toggleForm()" class="toggle-form-button">
    {{ showForm ? 'Cancel' : 'Add Menu Item' }}
  </button>

  <div *ngIf="showForm" class="fullscreen-form-overlay">
    <form (submit)="addMenuItem()" class="add-menu-item-form">
      <input type="text" [(ngModel)]="newItem.name" name="itemName" placeholder="Item Name" required />
      <input type="text" [(ngModel)]="newItem.description" name="itemDescription" placeholder="Description" required />
      <input type="number" [(ngModel)]="newItem.price" name="itemPrice" placeholder="Price" required min="0" />
      <select [(ngModel)]="newItem.category" name="category" required>
        <option value="">Select Category</option>
        <option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </option>
      </select>
      
      <input type="file" (change)="onFileSelected($event)" required />
      <div class="form-btns">
      <button type="submit">Add Menu Item</button>
      <button type="button" (click)="toggleForm()">Cancel</button></div>
    </form>
  </div>

  <div *ngIf="menuItems.length === 0" class="no-menu-items">
    <p>No menu items available.</p>
  </div>

  <ul *ngIf="menuItems.length > 0">
    <li *ngFor="let item of menuItems">
      <div class="menu-item-card">
        <img [src]="'http://localhost:5000/uploads/' + item.image" alt="Menu Item Image" />
        <p><strong>Name:</strong> {{ item.name }}</p>
        <p><strong>Description:</strong> {{ item.description }}</p>
        <p><strong>Category:</strong> {{ item.category }}</p>
        <p><strong>Price:</strong> ${{ item.price | number: '1.2-2' }}</p>
        <button (click)="deleteMenuItem(item._id)" style="margin-left:-35px">Delete</button>
        <button (click)="editMenuItem(item._id)" style="background-color: rgb(49, 149, 49);margin-left:10px;">Edit</button>
      </div>
    </li>
  </ul>
</div>
