<section class="menu-section">
  <div class="menu-header">
    <h1>Our Menu</h1>
    <p>We consider all the drivers of change give you the components<br>you need to create a truly happens.</p>
  </div>

  <!-- Menu Filters -->
  <div class="menu-filters">
    <button class="filter" [class.active]="selectedCategory === 'All'" (click)="changeCategory('All')">All</button>
    <button class="filter" [class.active]="selectedCategory === 'Breakfast'" (click)="changeCategory('Breakfast')">Breakfast</button>
    <button class="filter" [class.active]="selectedCategory === 'Main Dishes'" (click)="changeCategory('Main Dishes')">Main Dishes</button>
    <button class="filter" [class.active]="selectedCategory === 'Drinks'" (click)="changeCategory('Drinks')">Drinks</button>
    <button class="filter" [class.active]="selectedCategory === 'Desserts'" (click)="changeCategory('Desserts')">Desserts</button>
  </div>

  <!-- Menu Items -->
  <div class="menu-items">
    <div class="menu-item" *ngFor="let item of getFilteredMenuItems()">
      <!-- <img [src]="item.image" [alt]="item.name"> -->
      <img [src]="'http://localhost:5000/uploads/' + item.image" alt="Menu Item Image" />
      <h2>$ {{ item.price}}</h2>
      <p>{{ item.name }}</p>
      <span>{{ item.description }}</span>
    </div>
  </div>
</section>
