<nav>
<div class="nav-container">
    <div class="nav-contacts">
        <div class="phone">
            <img src="./phone-icon.png"/>
            <span> (414) 857 - 0107</span>
        </div>
        <div class="email">
            <img src="./email-icon.png"/>
            <span>
                <a href="mailto:yummy@bistrobliss">
                    yummy&#64;bistrobliss
                </a>
            </span>
           </div>
    </div>
    <div class="nav-social">
        <div class="social-icons" dir="rtl">
            <img src="./github-icon.png"/>
            <img src="./insta-icon.png"/>
            <img src="./facebook-icon.png"/>
            <img src="./twitter-icon.png"/>
        </div>
    </div>

</div>
<div class="nav-container1">
    <div class="nav-logo-section">
        <img class="logo" src="./logo.png"/>
        <h1 class="brand-name">Bistro Bliss</h1>
    </div>
<div class="nav-btn">
    <a routerLink="/home">Home</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/about">About</a>
    <a routerLink="/menu">Menu</a>
    <a routerLink="/pages">Pages</a>
    <a routerLink="/contact">Contact</a>
</div>

    <div class="nav-book-btn">
        <a>Book A Table</a>
    </div>
</div>