.admin-dashboard {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 600;
}

.admin-sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  gap: 20px; /* Space between grid items */
  justify-content: center;
  margin-top: 30px;
  max-width: 1000px;
  margin-left: 100px;
  
}

/* Define how the grid behaves on smaller screens */
@media (max-width: 1000px) {
  .admin-sections {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}

@media (max-width: 600px) {
  .admin-sections {
    grid-template-columns: 1fr; /* 1 column for mobile screens */
  }
}

.section {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.section h3 {
  margin-bottom: 10px;
}

.section a {
  display: inline-block;
  background-color: #AD343E;
  color: white;
  border-radius: 16px;
  text-decoration: none;
  padding: 8px;
  border: 2px solid #2C2F24;
  margin-top: 10px;
}

.section a:hover {
  background-color: #0056b3;
}
