<div class="admin-dashboard">
    <h1>Admin Dashboard</h1>
  
    <div class="admin-sections">
      <div class="section">
        <h3>Manage Users</h3>
        <p>View, edit, or delete users</p><br>
        <a routerLink="/adminDashboard/users">Go to Users</a>
      </div>
  
      <div class="section">
        <h3>Manage Menu Items</h3>
        <p>Add, edit, or remove menu items</p>
        <a routerLink="/adminDashboard/menu-items">Go to Menu Items</a>
      </div>
  
      <div class="section">
        <h3>View Bookings</h3>
        <p>Check all bookings made by customers</p>
        <a routerLink="/adminDashboard/bookings">Go to Bookings</a>
      </div>
  
      <div class="section">
        <h3>View Contact Requests</h3>
        <p>Manage customer contact requests</p>
        <a routerLink="/adminDashboard/contacts">Go to Contacts</a>
      </div>      

      <div class="section">
        <h3>View Articles & Blogs</h3>
        <p>Manage articles & blogs</p>
        <a routerLink="/adminDashboard/articles">Go to Articles</a>
      </div>

    </div>
  </div>
  